{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% comment %}
    <link rel="stylesheet" href="{% static " food/index.css" %}"> {% endcomment %}
    {% tailwind_css %}
    <title>{% block title %}{% endblock  %}</title>
</head>

<body>
    <nav class="bg-slate-700">
        <div class="mx-4 flex justify-between py-2">
            <a href="#">
                <h1 class="text-white">FOOD APP</h1>
            </a>

            <div class="flex space-x-4">
                <a href="{% url "food_add_item" %}" class="text-white">Add Item</a>
                {% if user.is_authenticated %}
                <a href="{% url "profile" %}" class="text-white">Profile</a>
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="text-white">Logout</button>
                    </form>
                {% else %}
                    <a href="{% url "login" %}" class="text-white">Login</a>
                {% endif %}
               
                
            </div>
        </div>
    </nav>
    <div class = "mx-4">
        {% block body %}{% endblock  %}
    </div>
    

</body>

</html>